<h1 class="title">Customers Alphabetized By Name</h1>
<br>
<div class="columns is-multiline">
  <% @customers.each do |customer| %>
    <div class="column is-one-quarter">
      <%= render partial: "customer", locals: { customer: customer } %>
    </div>
  <% end %>
</div>